<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="patient-list" routerLinkActive="active-link">Patients</a>
      <a mat-list-item routerLink="appointment-list" routerLinkActive="active-link">Appointments</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSideNav()" aria-label="Toggle sidenav">
        <mat-icon>menu</mat-icon>
      </button>
      <span>ASHA-Sakhi</span>
    </mat-toolbar>
      <div class="content">
        <app-loader></app-loader>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>